<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">{{ totalNumberOfJobs }}</p>
          <p class="subtitle">current jobs</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">£ {{ totalCost }}</p>
          <p class="subtitle">total cost</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">{{ totalNumberOfJobs }}</p>
          <p class="subtitle">invoices</p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <p class="title">19</p>
          <p class="subtitle">Exceptions</p>
        </article>
      </div>
    </div>
  </section>