<app-nav></app-nav>
<!-- <app-login></app-login> -->
<div class="columns">
  
  <app-aside class="column is-3"></app-aside>

  <div class="column is-9">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="../">Pages</a></li>
        <li><a href="../">Page</a></li>
        <li><a href="../">Example</a></li>
        <li class="is-active"><a href="#" aria-current="page">Admin</a></li>
      </ul>
    </nav>

    <section class="hero is-info welcome is-small">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Hello, Admin.
          </h1>
          <h2 class="subtitle">
            I hope you are having a great day!
          </h2>
        </div>
      </div>
    </section>

    <app-tiles></app-tiles>

    <div class="columns"> 
      <div class="column is-6">
        <div class="card">
          
          <app-cost-by-category></app-cost-by-category> 

        </div>
      </div> 
      <div class="column is-6">
          <div class="card">

            <app-cost-by-property-type></app-cost-by-property-type>  
              
          </div>
        </div>     
    </div>

    <div class="columns">
      <div class="column is-6">
        <div class="card events-card">
          <header class="card-header">
            <p class="card-header-title">
              Events
            </p>
            <a href="#" class="card-header-icon" aria-label="more options">
              <span class="icon">
                <i class="fa fa-angle-down" aria-hidden="true"></i>
              </span>
            </a>
          </header>
          <div class="card-table">
            <div class="content">
              <table class="table is-fullwidth is-striped">
                <tbody>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                  <tr>
                    <td width="5%"><i class="fa fa-bell-o"></i></td>
                    <td>Lorum ipsum dolem aire</td>
                    <td><a class="button is-small is-primary" href="#">Action</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <footer class="card-footer">
            <a href="#" class="card-footer-item">View All</a>
          </footer>
        </div>        
      </div>

      <app-search class="column is-6"></app-search>    

    </div>
  </div>
</div>
